<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tridomino</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet">

</head>
<body>
<header id="main-header">
    <div class="container">
        <h1>Triodomino Scoring</h1>
    </div>
</header>


<div class="container">
    <h1 class="finalscreen-headings">Die Gesamtpunkte aller Spieler:</h1>
    <table>
        <thead>
            <tr>
                <th th:each="playerAndPoints: ${playerNamesAndTotalPoints}" th:text="${playerAndPoints.key.getName()}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:each="playerAndPoints: ${playerNamesAndTotalPoints}" th:text="${playerAndPoints.value}"></td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div class="container">
    <h1 class="finalscreen-headings">Die Gewinner und Verlierer:</h1>
    <h3 th:each="theWinner: ${winner}" th:text="'Der Gewinner mit insgesamt ' + ${theWinner.value} + ' Punkten ist ' + ${theWinner.key.getName()} + '. Herzlichen Glückwünsch!'"></h3>
    <h3 th:each="theLoser: ${loser}" th:text="'Der Verlierer mit insgesamt ' + ${theLoser.value} + ' Punkten ist ' + ${theLoser.key.getName()} + '. Kopf hoch!'"></h3>
</div>





<footer id="main-footer">
    <p>Copyright &copy; 2022 Leon Korth</p>
</footer>
</body>
</html>