<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tridomino</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet">

</head>
<body>
<header id="main-header">
    <div class="container">
        <h1>Tridomino Game</h1>
    </div>
</header>


<div class="container">
    <table class="table">
        <thead>
            <tr class="headings">
                <th th:each="playerName: ${playerNames}" class="column-title" th:text="${playerName.getName}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th th:each="playerName: ${playerNames}">
                    <div class="container">
                        <form action="">
                            <div class="form-group">
                                <label for="pointsForPlayer">Punkte</label>
                                <input id="pointsForPlayer"  type="number" th:name="'pointsFor'+ ${playerName.getName}">
                            </div>
                            <input class="button" type="submit" value="hinzufügen">
                        </form>
                    </div>
                </th>

            </tr>
        </tbody>
    </table>
</div>



<footer id="main-footer">
    <p>Copyright &copy; 2022 Leon Korth</p>
</footer>
</body>
</html>