<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tridomino</title>
</head>
<body>
<header id="main-header">
    <div class="container">
        <h1>Tridomino Game</h1>
    </div>
</header>


<div class="container">
    <table class="table">
        <thead>
            <tr class="headings">
                <th th:each="playerName: ${playerNames}" class="column-title" th:text="${playerName.getName}"></th>
            </tr>
        </thead>
    </table>
</div>



<footer id="main-footer">
    <p>Copyright &copy; 2022 Leon Korth</p>
</footer>
</body>
</html>