<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Triodomino</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet">

</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Triodomino Scoring</h1>
        </div>
    </header>

    <div class="container">
        <section>
            <form th:action="@{/addPlayer}" method="post">
                <h3>Füge hier neue Spieler hinzu:</h3>
                <div class="form-group">
                    <label for="playerName">Namen eingeben:</label>
                    <input id ="playerName" type="text" name="playerName" placeholder="" autofocus >
                </div>
                <input class="button" type="submit" name="submit" value="Spieler hinzufügen">
            </form>
        </section>
    </div>



    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            <tr th:each="playerName : ${playerNames}">
                <td th:text="${playerName.getName}"></td>
            </tr>
        </table>
    </div>


    <div class="container">
        <section>
            <form th:action="@{/game}" method="get">
                <input class="button" type="submit" value="Spiel starten">
            </form>
        </section>
    </div>
    


    <footer id="main-footer">
        <p>Copyright &copy; 2022 Leon Korth</p>
    </footer>
</body>
</html>